<!-- {% extends "main_app/base.html" %}

{% block body_block %}
<h1 class="header">Bro Tathan Aviation Training Ltd</h1>

<hr class="ad-hline">
<div class="ad-box-container">
    <div class="ad-container">
      <img id="ad-main-image" src="/media/Takeoff2-unsplash.jpg" alt="">
      <div class="ad-image-row-header">
        <div class="ad-image-row-block-header">
          <span class="ad-block-header-image">
            A320 B1/B2 CEO Type Rating Course (CFM56 & IAE V2500 engines)
            Including Practical Training</span>
          <div class="ad-block-text">
            Duration of Theory Course : 30 Days <br><br>
            Duration of Practical Course : 10 Days <br><br>
            Start Date : 01 February 2021 <br><br>
            Course Location : Caerdav at Raf St Athan S Wales <br><br>
          </div>
          <div class="ad-block-para">
            Due to Covid restrictions, the course theory element will be conducted
            online. Exams and practical training will take place
            at Caerdav (Covid restrictions allowing). Details to follow.
          </div>
          <div class="ad-block-contact">
            All Interested Contact : <br> - Nigel Jones <br>
                                         - Mobile : 07872983587. <br>
                                         - Email: admin@btatltd.co.uk
            <br><br>
            Course places are still available, please get in touch for further
            details and to secure your place.
          </div>
          <!-- <div class="ad-block-text-co">
            CORONAVIRUS ALERT : <br><br>
          </div>
          <div class="ad-block-para">
            If face to face classroom training is affected by the
             latest Welsh Covid restrictions, remote training will be
             available for the theory element. The end of theory review,
             all exams and practical training will still take place at St Athan.
             <br><br>
             If restrictions prevent the course going ahead in
             any way, a new date will be issued and students
             currently booked on the course and all other interested parties
             will be contacted.
          </div> -->

        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %} -->
