{% extends "main_app/base.html" %}

{% block body_block %}

<h1 class="header">Bro Tathan Aviation Training Ltd</h1>

<hr class="hline">

<div class="approval-container">
  <h3 class="approval-header"> Approvals </h3>
  <h4>
    Approvals provided by Telepathy Academy EASA 147.00128, 
    British School of Aviation (BSA) 147.0123
    & QCM EASA 147.0012
  </h4>
  <div class="approval-img-frame">
    <img src="/media/EASA.1470128_1.png" alt="" class="approval-img">
  </div>
  <div class="approval-img-frame">
    <img src="/media/EASA.1470128_2.png" alt="" class="approval-img">
  </div>
  <div class="approval-img-frame">
    <img src="/media/EASA.1470128_3.png" alt="" class="approval-img">
  </div>
  <div class="approval-img-frame">
    <img src="/media/EASA.1470128_4.png" alt="" class="approval-img">
  </div>

</div>

{% endblock %}
