{% extends "main_app/base.html" %}

{% block body_block %}

<h1 class="header">Bro Tathan Aviation Training Ltd</h1>

<hr class="hline">

<div class="contact-container">
  <form class="contact" action="" method="post">
    <h3> Get in Contact </h3>
    <h4> Please get in touch for any additional information on our services </h4>
    <fieldset>
      <input type="text" placeholder="Full Name" tabindex="1" required>
    </fieldset>
    <fieldset>
      <input type="text" placeholder="Your Email Address" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input type="tel" placeholder="Your Phone Number (Optional)" tabindex="3" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here..." tabindex="4" required ></textarea>
    </fieldset>
    <fieldset>
      <button type="submit" name="submit" >Submit</button>
    </fieldset>
  </form>

</div>

{% endblock %}
