{% extends "main_app/base.html" %}

{% block body_block %}

<h1 class="header">Bro Tathan Aviation Training Ltd</h1>

<hr class="hline">

<div class="contact-container">
  <form class="contact" action="{% url 'contact' %}" method="post">
    {% csrf_token %}

    <!-- if form filled out -->
    {% if message_name %}
      <h3> Thanks {{ message_name }} </h3>
      <h4> We have recieved your email and will respond shortly. </h4>
    {% else %} <!-- before form filled out -->
      <h3> Get in Contact </h3>
      <h4> Please get in touch for any additional information on our services </h4>
    {% endif %}
    <fieldset>
      <input type="text" name = "message-name" placeholder="Full Name" tabindex="1" required>
    </fieldset>
    <fieldset>
      <input type="email" name = "message-email" placeholder="Your Email Address" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input type="tel" placeholder="Your Phone Number (Optional)" tabindex="3">
    </fieldset>
    <fieldset>
      <textarea name="message" placeholder="Type your message here..." tabindex="4" required ></textarea>
    </fieldset>
    <fieldset>
      <button type="submit" name="submit" >Submit</button>
    </fieldset>
  </form>

</div>

{% endblock %}
