{% extends "main_app/base.html" %}

{% block body_block %}

<h1 class="header">Bro Tathan Aviation Training Ltd</h1>

<hr class="hline">

<div class="courses-body">
  <div class="panel">
    <div class="course">
      <img src="/media/Airbus.png" alt="" class="course-img">
      <ul class="course-features">
        <li class="course-feature-item"> Airbus 319/320/321 (IAE V2500) B1&B2 Theoretical </li>
        <li class="course-feature-item"> Airbus 319/320/321 (IAE V2500) B1&B2 Practical </li>
        <li class="course-feature-item"> Airbus 318/319/320/321 (CFM56) B1&B2 Theoretical </li>
        <li class="course-feature-item"> Airbus 318/319/320/321 (CFM56) B1&B2 Practical </li>
      </ul>
      <a href="#" class="course-button"> Find Out More </a>
    </div>

    <div class="course">
      <h2 class="course-header"> Bespoke Courses </h2>
      <ul class="course-features">
        <li class="course-feature-item"> MODULE 10 Initial / Continuation (Classroom / Distance) </li>
        <li class="course-feature-item"> PART-145 Initial / Continuation (Classroom / Distance) </li>
        <li class="course-feature-item"> PART-M Initial / Continuation  (Classroom / Distance) </li>
        <li class="course-feature-item"> Incoming Inspection (Classroom / Distance)   </li>
      </ul>
      <a href="#" class="course-button"> Find Out More </a>
    </div>

    <div class="course">
      <img src="/media/Boeing.png" alt="" class="course-img">
      <ul class="course-features">
        <li class="course-feature-item"> Boeing 737-600/700/800/900 (CFM56) B1&B2 Theoretical </li>
        <li class="course-feature-item"> Boeing 737-600/700/800/900 (CFM56) B1&B2 Practical </li>
        <li class="course-feature-item"> Boeing B777-200/300 GE 90 & RR Trent Theoretical </li>
        <li class="course-feature-item"> Boeing B777-200/300 GE 90 & RR Trent Practical </li>
      </ul>
      <a href="#" class="course-button"> Find Out More </a>
    </div>

  </div>
</div>


{% endblock %}
