{% extends "main_app/base.html" %}

{% block body_block %}

<h1 class="header">Bro Tathan Aviation Training Ltd</h1>

<hr class="hline">

<div class="courses-body">
  <div class="panel">
    <div class="course">
      <img src="/media/Airbus.png" alt="" class="course-img">
      <ul class="course-features">
        <li class="course-feature-item"> Airbus 319/320/321 (IAE V2500) B1&B2 Theoretical </li>
        <li class="course-feature-item"> Airbus 319/320/321 (IAE V2500) B1&B2 Practical </li>
        <li class="course-feature-item"> Airbus 318/319/320/321 (CFM56) B1&B2 Theoretical </li>
        <li class="course-feature-item"> Airbus 318/319/320/321 (CFM56) B1&B2 Practical </li>
      </ul>
      <a href="#Aircraft-Type" class="course-button"> Find Out More </a>
    </div>

    <div class="course">
      <h2 class="course-header"> Bespoke Courses </h2>
      <ul class="course-features">
        <li class="course-feature-item"> A400M / A350 / A330neo Manufacturing Awareness </li>
        <li class="course-feature-item"> Airframe Static and F&DT Stress Training </li>
        <li class="course-feature-item"> PART-M Initial / Continuation (Classroom / Distance) </li>
        <li class="course-feature-item"> Incoming Inspection (Classroom / Distance)   </li>
      </ul>
      <a href="#Bespoke" class="course-button"> Find Out More </a>
    </div>

    <div class="course">
      <img src="/media/Boeing.png" alt="" class="course-img">
      <ul class="course-features">
        <li class="course-feature-item"> Boeing 737-600/700/800/900 (CFM56) B1&B2 Theoretical </li>
        <li class="course-feature-item"> Boeing 737-600/700/800/900 (CFM56) B1&B2 Practical </li>
        <li class="course-feature-item"> Boeing B777-200/300 GE 90 & RR Trent Theoretical </li>
        <li class="course-feature-item"> Boeing B777-200/300 GE 90 & RR Trent Practical </li>
      </ul>
      <a href="#Aircraft-Type" class="course-button"> Find Out More </a>
    </div>

  </div>
</div>

<div id="Aircraft-Type" class="course-detail-wrapper">
  <h1> Aircraft Type Rating Training </h1>
  <h3> Please click on any of our courses to enquire</h3>
  <div class="course-detail-container">
    <div class="course-detail-block">
      <ul class="course-detail-list">
        <li>
          <div class="course-detail-item">
            <a href="{% url 'contact' %}"> Airbus 319/320/321 (IAE V2500) B1 & B2 Theoretical </a>
          </div>
          <div class="course-detail-description">
            Duration - . Classroom and Remote courses available.
          </div>
        </li>
        <li>
          <div class="course-detail-item">
            <a href="{% url 'contact' %}"> Airbus 319/320/321 (IAE V2500) B1 & B2 Practical </a>
          </div>
          <div class="course-detail-description">
            Duration - . Classroom and Remote courses available.
          </div>
        </li>
        <li>
          <div class="course-detail-item">
            <a href="{% url 'contact' %}"> Airbus 318/319/320/321 (CFM56) B1 & B2 Theoretical </a>
          </div>
          <div class="course-detail-description">
            Duration - . Classroom and Remote courses available.
          </div>
        </li>
        <li>
          <div class="course-detail-item">
            <a href="{% url 'contact' %}"> Airbus 318/319/320/321 (CFM56) B1 & B2 Practical </a>
          </div>
          <div class="course-detail-description">
            Duration - . Classroom and Remote courses available.
          </div>
        </li>
      </ul>
      <img src="/media/Airbus.png" alt="" class="course-detail-img">
    </div>
    <div class="course-detail-block">
      <ul class="course-detail-list">
        <li>
          <div class="course-detail-item">
            <a href="{% url 'contact' %}"> Boeing 737-600/700/800/900 (CFM56) B1 & B2 Theoretical </a>
          </div>
          <div class="course-detail-description">
            Duration - . Classroom and Remote courses available.
          </div>
        </li>
        <li>
          <div class="course-detail-item">
            <a href="{% url 'contact' %}"> Boeing 737-600/700/800/900 (CFM56) B1 & B2 Practical </a>
          </div>
          <div class="course-detail-description">
            Duration - . Classroom and Remote courses available.
          </div>
        </li>
        <li>
          <div class="course-detail-item">
            <a href="{% url 'contact' %}"> Boeing B777-200/300 GE 90 & RR TRENT Theoretical </a>
          </div>
          <div class="course-detail-description">
            Duration - . Classroom and Remote courses available.
          </div>
        </li>
        <li>
          <div class="course-detail-item">
            <a href="{% url 'contact' %}"> Boeing B777-200/300 GE 90 & RR TRENT Practical </a>
          </div>
          <div class="course-detail-description">
            Duration - . Classroom and Remote courses available.
          </div>
        </li>
        <li>
          <div class="course-detail-item">
            <a href="{% url 'contact' %}"> Boeing B787 Genx and Trent 1000 B1 & B2 Theoretical </a>
          </div>
          <div class="course-detail-description">
            Duration - . Classroom and Remote courses available.
          </div>
        </li>
        <li>
          <div class="course-detail-item">
            <a href="{% url 'contact' %}"> Boeing B787 Genx and Trent 1000 B1 & B2 Practical </a>
          </div>
          <div class="course-detail-description">
            Duration - . Classroom and Remote courses available.
          </div>
        </li>
      </ul>
      <img src="/media/Boeing.png" alt="" class="course-detail-img">
    </div>
  </div>
</div>


<div id="Bespoke" class="course-detail-wrapper">
  <h1> Bespoke Courses </h1>
  <h3> Please click on any of our courses to enquire</h3>
  <div class="course-detail-container">
    <div class="course-detail-block">
      <h2> Generic Aircraft </h2>
      <ul class="course-detail-list">
        <li>
          <div class="course-detail-item">
            <a href="{% url 'contact' %}"> Basic Hand Skills </a>
          </div>
          <div class="course-detail-description">
            Duration - 3 Days. Classroom and Remote courses available.
          </div>
        </li>
        <li>
          <div class="course-detail-item">
            <a href="{% url 'contact' %}"> Module 10 Initial / Continuation </a>
          </div>
          <div class="course-detail-description">
            Duration - 1 Day / 0.5 Days. Classroom and Remote courses available.
          </div>
        </li>
        <li>
          <div class="course-detail-item">
            <a href="{% url 'contact' %}"> Part 145 Initial / Continuation </a>
          </div>
          <div class="course-detail-description">
            Duration - 1 Day / 0.5 Days. Classroom and Remote courses available.
          </div>
        </li>
        <li>
          <div class="course-detail-item">
            <a href="{% url 'contact' %}"> Part M Initial / Continuation </a>
          </div>
          <div class="course-detail-description">
            Duration - 1 Day / 1/2 Day. Classroom and Remote courses available.
          </div>
        </li>
        <li>
          <div class="course-detail-item">
            <a href="{% url 'contact' %}"> Electro Static Discharge, Hidden Damage Inspection </a>
          </div>
          <div class="course-detail-description">
            Duration - 1/2 Day. Classroom and Remote courses available.
          </div>
        </li>
        <li>
          <div class="course-detail-item">
          <a href="{% url 'contact' %}"> Safety Management System </a>
          </div>
          <div class="course-detail-description">
            Duration - 1 Day. Classroom and Remote courses available.
          </div>
        </li>
        <li>
          <div class="course-detail-item">
            <a href="{% url 'contact' %}"> Incoming Inspection </a>
          </div>
          <div class="course-detail-description">
            Duration - 1 Day. Classroom and Remote courses available.
          </div>
        </li>
        <li>
          <div class="course-detail-item">
            <a href="{% url 'contact' %}"> Part-66/147 Training Initial / Continuation </a>
          </div>
          <div class="course-detail-description">
            Duration - 1 Day / 1/2 Day. Classroom and Remote courses available.
          </div>
        </li>
        <li>
          <div class="course-detail-item">
            <a href="{% url 'contact' %}"> Quality Management Systems </a>
          </div>
          <div class="course-detail-description">
            Duration - 1 Day. Classroom and Remote courses available.
          </div>
        </li>
        <li>
          <div class="course-detail-item">
            <a href="{% url 'contact' %}"> Internal Auditor Training </a>
          </div>
          <div class="course-detail-description">
            Duration - 1 Day. Classroom and Remote courses available.
          </div>
        </li>
        <li>
          <div class="course-detail-item">
            <a href="{% url 'contact' %}"> Aircraft Cleaning Training </a>
          </div>
          <div class="course-detail-description">
            Duration - 1 Day. Classroom and Remote courses available.
          </div>
        </li>
        <li>
          <div class="course-detail-item">
            <a href="{% url 'contact' %}"> Personal Development Courses </a>
          </div>
          <div class="course-detail-description">
            Duration - Dependent on your needs. Classroom and Remote courses available.
          </div>
        </li>
      </div>

      <div class="course-detail-block">
        <!-- <img src="/media/Engine Repair - Hi Res.jpg" alt="" class="bespoke-img"> -->
        <h2> Airbus Specific </h2>
        <ul class="course-detail-list" id="airbus-bespoke">
          <li>
            <div class="course-detail-item">
              <a href="{% url 'contact' %}"> An Introduction to Airbus aircraft </a>
            </div>
            <div class="course-detail-description">
              Duration - . Classroom and Remote courses available.
            </div>
          </li>
          <li>
            <div class="course-detail-item">
              <a href="{% url 'contact' %}"> A400M / A350 / A330neo Manufacturing Awareness </a>
            </div>
            <div class="course-detail-description">
              Duration - . Classroom and Remote courses available.
            </div>
          </li>
          <li>
            <div class="course-detail-item">
              <a href="{% url 'contact' %}"> A320 Familiarisation Course EASA
                Part 66 Appendix 3 Standards </a>
            </div>
            <div class="course-detail-description">
              Duration - . Classroom and Remote courses available.
            </div>
          </li>
          <li>
            <div class="course-detail-item">
            <a href="{% url 'contact' %}"> A320 Awareness </a>
            </div>
            <div class="course-detail-description">
              Duration - . Suitable for non-engineering students for support staff.
            </div>
          </li>
          <li>
            <div class="course-detail-item">
              <a href="{% url 'contact' %}"> Aerospace Composite Manufacturing Awareness </a>
            </div>
            <div class="course-detail-description">
              Duration - . Classroom and Remote courses available.
            </div>
          </li>
          <li>
            <div class="course-detail-item">
              <a href="{% url 'contact' %}"> Airbus Aerostructures Awareness </a>
            </div>
            <div class="course-detail-description">
              Duration - . Classroom and Remote courses available.
            </div>
          </li>
        </ul>
        <h2> Generic Engineering </h2>
        <ul class="course-detail-list">
          <li>
            <div class="course-detail-item">
              <a href="{% url 'contact' %}"> GKN Specific Aerostructures </a>
            </div>
            <div class="course-detail-description">
              Duration - 1 Day. Classroom and Remote courses available.
            </div>
          </li>
          <li>
            <div class="course-detail-item">
              <a href="{% url 'contact' %}"> Composites Awareness Training </a>
            </div>
            <div class="course-detail-description">
              Duration - . Classroom and Remote courses available.
            </div>
          </li>
          <li>
            <div class="course-detail-item">
              <a href="{% url 'contact' %}"> Airframe Static Stress Training </a>
            </div>
            <div class="course-detail-description">
              Duration - . Classroom and Remote courses available.
            </div>
          </li>
          <li>
            <div class="course-detail-item">
              <a href="{% url 'contact' %}"> Fatigue & Damage Tolerance Stress Training </a>
            </div>
            <div class="course-detail-description">
              Duration - . Classroom and Remote courses available.
            </div>
          </li>
          <li>
            <div class="course-detail-item">
              <a href="{% url 'contact' %}"> Generic Aircraft Repair Engineering Course </a>
            </div>
            <div class="course-detail-description">
              Duration - . Classroom and Remote courses available.
            </div>
          </li>
        </ul>
      </div>
    </div>
</div>

{% endblock %}
