{% extends "main_app/base.html" %}

{% block body_block %}

<h1 class="header">Bro Tathan Aviation Training Ltd</h1>

<hr class="hline">

<ol>
  <li> Airbus 319/320/321 (IAE V2500) B1&B2Theoretical </li>
  <li> Airbus 319/320/321 (IAE V2500) B1&B2 Practical </li>
  <li> Airbus 318/319/320/321 (CFM56) B1&B2 Theoretical </li>
  <li> Airbus 318/319/320/321 (CFM56) B1&B2 Practical </li>
</ol>
<p class="block-content">
  Boeing Approvals - Provided by Telepathy Academy EASA 147.00128
</p>
<ol>
  <li> Boeing 737-600/700/800/900 (CFM56) B1&B2 Theoretical </li>
  <li> Boeing 737-600/700/800/900 (CFM56) B1&B2 Practical </li>
  <li> Boeing B777-200/300 GE 90 & RR Trent Theoretical </li>
  <li> Boeing B777-200/300 GE 90 & RR Trent Practical </li>
  <li> B787 Genx and Trent 1000 B1&B2 Theoretical </li>
  <li> B787 Genx and Trent 1000 B1&B2 Practical </li>
</ol>

{% endblock %}
