{% extends "main_app/base.html" %}

{% block body_block %}
<div class="main">
  <nav class="navbar" id="home">
    <div class="navbar-header">
      <a class="nav-brand" href="{% url 'index' %}"><img style="height: 4vh; vertical-align: middle;" src="../media/logo.png"></a>
    </div>
    <div class="navbar-items">
      <ul class="nav-list">

        <li class="nav-item">
          <a class="nav-link" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#inquiries">Inquiries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#inquiries">Contact us</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="bg"></div>
    <div class="toptext">
      <div class="image-primarytext">
        <img style="height: 10vh;" src="../media/logo.png">
      </div>
      <div class="textbox">
        <h1>With over 20 years in the aircraft repair engineering sector, we are a leading service provider specialising in reverse engineering, 3D laser scanning, aircraft damage assessment and quality inspection.</h1>
        <hr class="hline">
        <h2>Over the course of an aircraft's lifecycle, it is likely to sustain some form of structural damage, and due to this, damage assessment will remain an essential step in repairing an aircraft. Demand is increasing and a digital solution is the only answer, We have developed a proven solution that accelerates inspection and assessment to help the aircraft to be returned to service as quickly as possible - reducing downtime, saving money, allowing certified engineers to concentrate on other tasks and contributing to safer air travel.</h2> 
      </div>
    </div>
    <div class="topribbon">
      <div class="logotext">
      <h2>Powered by <img style="vertical-align: middle" class="logo" height = 30px src="../media/Hexagon.png"></h2>
      </div>
      <div class="logotext">
      <h2>Trusted by <img class = "logo" style="vertical-align: middle" height = 20px src="../media/bombardier.png"></h2>
    </div>
    </div>

    </div>
    </div>
  </div>
  <div class="title-info" id="services">
    <div class="title">
    <h1 class="header">Our Services</h1>

    <hr class="hline">
    </div>
      <div class="box1" style="background-image: url('../media/cockpit.jpg');">
      <div class="box2">
        <div class="service">
          <img width = "20%" src="../media/laser.jpg">
          <h1>Laser Scanning</h1>
          <hr class="hline">
          <p>Laser scanners capture the entire part geometry for inspection or reverse engineering purposes, covering both freeform surfaces and geometric features. Laser scanners are used with CMMs, articulated arms, optical CMMs or even robots. The resulting digital copy forms the backbone of a powerful digital inspection process that streamlines inspection processes, reduces time to market and cuts development costs. 3D Laser Scanning accelerates design-through-manufacturing by providing full geometry feedback</p>
        </div>
        <div class="service">
          <h1>Reverse Engineering </h1>
          <hr class="hline">
          <p>Reverse Engineering has become a standard procedure for engineers in a wide range of markets. The technique can be used in product development, production engineering, cost down programmes and refurbishing of components. 
          In situations where the engineer has only 2D data or no drawings at all,  we will scan the component and post-production of a polygon model will produce a workable solid parametric CAD file with design intent.The file can then be used to modify or manufacture the components. STL files can also be produced to allow the production of rapid prototypes and prototype castings.</p>
        </div>
        <div class="service">
          <img width = "20%" src="../media/dmgassmnt.jpg">
          <h1>Damage Assessment</h1> 
          <hr class="hline">
          <p>The process of damage assessment is time consuming. Often the inspection takes a considerable amount of time due to the manual effort and manual inspection methods that is common practise in the industry. The manual skillset is becoming ever more scarce resulting in longer lead times to achieving accurate damage assessment. The results incostly delays, inaccurate reporting and increased costs. Using the latest equipment and software reduces the delay, saves time, gives more accurate date and allows for detailed complex repair engineering solutions to be provided quicker.</p>
        </div>
      </div>
      <div class="smallribbon">
      <div class="buttons">
        <div class="findoutmorebox">
        <a href='#home'>Home</a>
        </div>
        <div class="findoutmorebox">
          <a href="#inquiries">Contact us</a>
        </div>
      </div>
    </div>

  </div>
  <div class="title-info" id="inquiries">
    <div class="title">
    <h1 class="header">Contact us</h1>

    <hr class="hline">
    </div>
      <div class="box1" style="background-image: url('../media/engine.jpg');">
      <div class="box2">
        <div class="inquirybox">
          <center>Contact Information</center><br><font color = "gray">
            <ul>
              <li>Email: sales@metrologyengineeringservices</li>
            </ul>
          </font>
      <div class="smallribbon">
      <div class="buttons">
        <div class="findoutmorebox">
        <a href='#home'>Home</a>
        </div>
      </div>
    </div>

  </div>
       
  </div>


</div>

{% endblock %}
