{% extends "main_app/base.html" %}

{% block body_block %}

<div class="main">
  <div class="container">
    <img id="main-image" src="media/IMG-20190528-WA0008.jpg" alt="">
    <div class="image-primarytext">
      EASA Part 147 Accredited Aviation Training
    </div>
    <div class="image-secondarytext">
      Airbus and Boeing Approved
    </div>
  </div>

  <h1 class="header">Bro Tathan Aviation Training Ltd</h1>

  <hr class="hline">

  <div class="image-container">
    <div class="icon-frame">
      <img class="block-content-icon"src="media/airport2.png" alt="">
    </div>
    <div class="icon-frame">
      <img class="block-content-icon"src="media/certified-icon-14.jpg" alt="">
    </div>
    <div class="icon-frame">
      <img class="block-content-icon"src="media/training3.png" alt="">
    </div>
  </div>

  <div class="row-header">
    <div class="row-block-header">
      <span class="block-header">Industry Leading Facilities</span>
    </div>
    <div class="row-block-header">
      <span class="block-header">Approvals</span>
    </div>
    <div class="row-block-header">
      <span class="block-header">Off the Shelf & Bespoke Training</span>
    </div>

  </div>

  <div class="row-content">
    <div class="row-block-content">
      <p class="block-content">
        BTAT is based in the Bro Tathan Aerospace Business Park.
        Classroom study, practical training on Aircraft and course
        examinations are all provided within the South Wales area.
      </p>
      <a class="content-link" href="{% url 'about_us' %}">Click Here</a>
    </div>
    <div class="row-block-content">
      <p class="block-content">
        We are EASA Part-147 approved
      </p>
      <a class="content-link" href="{% url 'courses' %}">Click Here</a>
    </div>
    <div class="row-block-content">
      <p class="block-content">Range of training course options</p>
      <a class="content-link" href="{% url 'courses' %}">Click Here</a>
    </div>
  </div>

  <div class="container">
    <img id="secondary-image" src="media/Home page Wing Repair - Hi Res.jpg" alt="">

    <div class="image-row-header">
      <div class="image-row-block-header">
        <span class="block-header-image">EASA Part 147 Training</span>
        <div class="block-text">
          Approvals Provided by Telepathy Academy EASA 147.00128 & <br>
          British School of Aviation (BSA) 147.0123
        </div>

      </div>
      <div class="image-row-block-header">
        <span class="block-header-image">EASA Part 145 Accredited Aviation Training</span>
        <span class="block-text">
          Human Factor, Fuel Tank & Ewis Group
        </span>
      </div>
      <div class="image-row-block-header">
        <span class="block-header-image">Bespoke Courses</span>
        <span class="block-text">
          Including Part 66 initial training, Quality Management Systems, <br>
          Part M & Aircraft cleaning
        </span>
      </div>
    </div>
  </div>

  <div class="quote-section">
    <blockquote cite="Albert Einstein">
      <p> In learning you will teach and in teaching you will learn </p>
    </blockquote>
  </div>


</div>

{% endblock %}
