{% extends "main_app/base.html" %}

{% block body_block %}

<div class="main">
  <nav class="navbar" id="home">
    <div class="navbar-header">
      <a class="nav-brand" href="{% url 'index' %}">MES</a>
      <a class="nav-statement" href="{% url 'index' %}">Metrology Engineering Services</a>
    </div>
    <div class="navbar-items">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'approvals' %}">Inquiries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact us</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="bg"></div>
    <div class="toptext">
      <div class="image-primarytext">
        Metrology Engineering Services
      </div>
      <div class="textbox">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a imperdiet metus. Fusce vehicula pellentesque massa, in dapibus odio tincidunt sit amet. Donec vitae sapien est. Curabitur cursus eleifend dui et consectetur. Sed non orci ut nulla dictum tincidunt id vel lectus. Praesent lacus turpis, laoreet sed dignissim vel, sollicitudin sollicitudin magna. In varius rutrum ex vel porttitor. Praesent vitae rhoncus magna, in commodo lectus. Nunc luctus urna fringilla libero posuere vulputate. Pellentesque posuere ex massa, et tristique mi suscipit non. Nulla sodales vitae ex eget tincidunt. Maecenas sagittis, nibh eleifend feugiat molestie, ipsum purus auctor nisi, at porttitor tortor nunc ac neque. Ut mattis placerat gravida. Maecenas porta laoreet lorem, eu vehicula ante pellentesque sed. Cras id turpis at metus efficitur eleifend. Morbi cursus dolor leo. Curabitur et porttitor urna. Aliquam vestibulum lorem sit amet mauris rutrum mollis.
      </div>
    </div>
    <div class="topribbon">
      <div class="logotext">
      <p>Powered by <img class = "logo" height = 30px src="../media/Hexagon.png"></p>
      <p>Trusted by <img class = "logo" height = 20px src="../media/bombardier.png"></p>
    </div>
      <div class="buttons">
      <div class="findoutmorebox">
      <a href="#services">Our Services</a>
      </div>
      <div class="findoutmorebox">
        <a href="#inquiries">Make an inquiry</a>
      </div>
    </div>
    </div>
  </div>
  <div class="title-info" id="services">
    <div class="title">
    <h1 class="header">Our Services</h1>

    <hr class="hline">
    </div>
      <div class="box1">
      <div class="box2"><div class="service"><center>Laser Scanning<br><img width = "20%" src="../media/laser.png"><br><font color = "gray">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</font></center></div><div class="service">Reverse Engineering</div><div class="service">Damage Assessment</div></div>
      <div class="smallribbon">
      <div class="buttons">
        <div class="findoutmorebox">
        <a href='#home'>Home</a>
        </div>
        <div class="findoutmorebox">
          <a href="#inquiries">Make an inquiry</a>
        </div>
      </div>
    </div>

  </div>
  <div class="title-info" id="inquiries">
    <div class="title">
    <h1 class="header">Make an inquiry</h1>

    <hr class="hline">
    </div>
      <div class="box1">
      <div class="box2">
        <div class="inquirybox"><center>
          <label for="name">Name</label><br>
          <input type="text" id ="name" placeholder="Name" name="name" required><br>
          <label for="mail">Email Address</label><br>
          <input type="text" id="mail" placeholder="Email address" name="mail" required><br>
          <label for="subject">Subject</label><br>
          <textarea id="subject" name="subject" placeholder="Write Something..." style="height: 200px" required></textarea><br>
          <input type="submit" value="Send"></center>
        </div>
      <div class="smallribbon">
      <div class="buttons">
        <div class="findoutmorebox">
        <a href='#home'>Home</a>
        </div>
      </div>
    </div>

  </div>


  <div class="box-container">
    <!-- <img id="secondary-image" src="media/Home page Wing Repair - Hi Res.jpg" alt=""> -->
    <div class="parallax">
      <div class="image-row-header">
        <div class="image-row-block-header">
          <span class="block-header-image">EASA Part 147 Training</span>
          <div class="block-text">
            Approvals Provided by Telepathy Academy EASA 147.00128 & <br>
            British School of Aviation (BSA) 147.0123
          </div>

        </div>
        <div class="image-row-block-header">
          <span class="block-header-image">EASA Part 145 Accredited Aviation Training</span>
          <span class="block-text">
            Human Factor, Fuel Tank & Ewis Group
          </span>
        </div>
        <div class="image-row-block-header">
          <span class="block-header-image">Bespoke Courses</span>
          <span class="block-text">
            Including Part 66 initial training, Quality Management Systems, <br>
            Part M & Aircraft cleaning
          </span>
        </div>
      </div>
    </div>
  </div>


</div>

{% endblock %}
