body{
  width: 100vw;
  max-width:100%;
  margin: 0;
  background-color: white;
}

.main{
  width: 100vw;
}

h1{
}

/* Navigation bar */
.nav-list {
  list-style-type: none;
  margin: 0;
  display: flex;
}

li{
  text-align:center;
  padding: 0px 20px;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 2px;
  width: 100vw;
  height: 80px;
  background-color: #234250;
}

.navbar-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
  /* padding: 12px 20px 3px; */
}

.navbar-items{
}

.nav-item{
  padding: 0 15px;
}

.nav-item:last-child{
  padding: 0 30px 0 15px;
}

.nav-link{
  text-decoration: none;
  float: right;
  font-family: WalesSansHeadline,WalesSans,Helvetica Neue,Helvetica,Arial,sans-serif;arial, serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.nav-brand{
  display: block;
  text-decoration: none;
  float: left;
  font-family: WalesSansHeadline,WalesSans,Helvetica Neue,Helvetica,Arial,sans-serif;arial, serif;
  font-size: 30px;
  font-weight: 440px;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
}

.nav-statement{
  display: block;
  text-decoration: none;
  float: left;
  font-family: WalesSansHeadline,WalesSans,Helvetica Neue,Helvetica,Arial,sans-serif;arial, serif;
  font-size: 12px;
  font-weight: 200px;
  color: #fff;
}

.nav-link:hover{
  text-decoration: none;
  color: #a8dae2;
}

/* ////main image /////*/
.container{
  position: relative;
  text-align: center;
}

#main-image{
  display: block;
  width: 100vw;
  height: auto;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
  filter: brightness(70%);
}

.image-primarytext{
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  font-family: WalesSansHeadline,WalesSans,Helvetica Neue,Helvetica,Arial,sans-serif;arial, serif;
  font-size: 35px;
  font-weight: 400px;
  color: #fff;
  letter-spacing: 1px;
  animation: primaryfade 12s infinite;
}

@keyframes primaryfade {
  0%{
    opacity: 100%;
  }
  41.6% {
    opacity: 100%;
  }
  58.3%{
    opacity: 0%;
  }
  100%{
    opacity: 0%;
  }
}

.image-secondarytext{
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  font-family: WalesSansHeadline,WalesSans,Helvetica Neue,Helvetica,Arial,sans-serif;arial, serif;
  font-size: 35px;
  font-weight: 400px;
  color: #fff;
  letter-spacing: 1px;
  animation: secondaryfade 12s infinite;
}

@keyframes secondaryfade {
  0%{
    opacity: 0%;
  }
  41.6% {
    opacity: 0%;
  }
  58.3%{
    opacity: 100%;
  }
  100%{
    opacity: 100%;
  }
}

.index-button{
  border-radius: 10px;
  color: #a8dae2;
  background-color: #234250;
  padding: 15px 35px;
  text-decoration: none;
  margin: 10px 0;
  transition: background-color 200ms ease-in-out;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%);
  font-family: WalesSansHeadline,WalesSans,Helvetica Neue,Helvetica,Arial,sans-serif;arial, serif;
}

.index-button:hover {
  background-color: #346f8a;
  /* #e1f1ff; */
}

/* ////// main content block //////*/

.title-info{
}

/* Title */
.header {
  font-family: WalesSansHeadline,WalesSans,Helvetica Neue,Helvetica,Arial,sans-serif;arial, serif;
  /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
  line-height: 1.25;
  margin: 35px auto 30px;
  font-size: 37px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
  width: 95vw;
  clear: both;
  color: #234250;
}


.hline{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 60px;
  width: 90vw;
  color: #234250;
  border: 1px solid #234250;
  border-radius: 0.5px;
}

.index-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90vw;
  margin: 0 auto;
}

@media (min-width: 900px){
  .index-wrapper{
    flex-direction: row;
  }

  .row-block{
    margin-bottom: 0;
    margin-right: 15px;
    width: 32%;
  }

  .row-block:last-child{
    margin-right: 0;
  }
}

@media (min-width: 1015px){
  .block-content{
    height: 234px;
  }
}

.row-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.row-block-header{
  display: inline;
  text-align: center;
  box-sizing: border-box;
  background-color: #a8dae2;
  height: 60px;
  width: 100%;
  margin-bottom: 15px;
  line-height: 60px;
  border-radius: 10px;
}

.block-header{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 20px;
  font-weight: bold;
  font-family:WalesSansHeadline,WalesSans,Helvetica Neue,Helvetica,Arial,sans-serif;arial, serif;
  color: #234250;
}

.row-block-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 350px;
  box-sizing: border-box;
  padding: 30px 10px 10px;
  background-color: #234250;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 320;
}

.block-content{
  align-self: flex-start;
  font-family:WalesSansHeadline,WalesSans,Helvetica Neue,Helvetica,Arial,sans-serif;arial, serif;
  color: #fff;
  line-height: 1.3328;
  text-align: center;
}

.content-link{
  width: 200px;
  align-self: center;
  text-decoration: none;
  font-family: WalesSansHeadline,WalesSans,Helvetica Neue,Helvetica,Arial,sans-serif;arial, serif;
  font-size: 18px;
  font-weight: 400;
  color: #234250;
  background-color: #a8dae2;
  border-radius: 10px;
  text-align: center;
  padding: 5px 0;
  transition: background-color 200ms ease-in-out;
  margin-top: 35px;
}
.content-link:hover {
  background-color: #61aeba;
}

/* @media (max-width: 500px){

} */

.block-content-icon{
  width:80px;
  height: 80px;
  padding-bottom: 60px;
}


.box-container{
  position: relative;
  text-align: center;
  height: 100vh;
}

.parallax{
  background-image: url("/static/Home page Wing Repair - Hi Res.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#secondary-image{
  /* position: sticky;
  top: 0; */
  display: block;
  width: 100vw;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  filter: brightness(60%);
}

.image-row-header{
  width: 90vw;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  font-family: WalesSansHeadline,WalesSans,Helvetica Neue,Helvetica,Arial,sans-serif;arial, serif;
  font-size: 35px;
  font-weight: 400px;
  color: #fff;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  text-transform: uppercase;
}

.image-row-block-header{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 700px;
  box-sizing: border-box;
  padding: 10px 10px;
  background-color: #a8dae2;
  border-radius: 10px;
  border-bottom: 1px solid #234250;
}

.image-row-block-header:last-child{
  border-bottom: none;
}

.block-header-image{
  vertical-align: middle;
  line-height: 1.8;
  font-size: 20px;
  font-weight: bold;
  font-family:WalesSansHeadline,WalesSans,Helvetica Neue,Helvetica,Arial,sans-serif;arial, serif;
  color: #234250;
  margin: 0 0 5px;
  letter-spacing: 1px;
}

.block-text{
  vertical-align: middle;
  line-height: normal;
  font-size: 18px;
  font-family:WalesSansHeadline,WalesSans,Helvetica Neue,Helvetica,Arial,sans-serif;arial, serif;
  color: #234250;
  text-align: center;
}


/* ////// quote section /////*/
.quote-section{
  background-color: #fff;
  width: 100%;
  height: 50vh;
  max-width: 540px;
  min-width: 320px;
  margin: 0em auto 0em;
  padding: 1.5em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

p { margin-bottom: 1.2em; }
p:last-child { margin-bottom: 0; }

.quote-quote {
  display: block;
  border-width: 4px 0;
  border-style: solid;
  border-color: #a8dae2;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
  font-family:WalesSansHeadline,WalesSans,Helvetica Neue,Helvetica,Arial,sans-serif;arial, serif;
  font-size: 30px;
  font-style: oblique;
  font-weight: 400;
  color: #234250;
}
.quote-quote:before {
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 4rem;
  height: 2rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: #666;
  text-align: center;
}
.quote-quote:after {
  content: "\2013 \2003" attr(cite);
  display: block;
  text-align: right;
  font-size: 0.875em;
  color: #234250;
  font-style: normal;
  font-weight: normal;
}

/* ////// footer /////*/
.title-footer{
  display: flex;
  background-color: #234250;
  height: 50vh;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-family: WalesSansHeadline,WalesSans,Helvetica Neue,Helvetica,Arial,sans-serif;arial, serif;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  border-top: 180px solid #a8dae2;
}

.footer-header{
  width: 28%;
  font-size: 30px;
  font-weight: 500px;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
  line-height: 1;
}

.footer-address{
  width: 50%;
  color: #fff;
  line-height: 1.3;
  text-align: right;
}

.footer-quote{
  padding-left: 20px;
  width: 50%;
  color: #fff;
  line-height: 1.6;
  font-style: italic;
  text-align: right;
}

#footer-signature{
  font-style: normal;
  font-weight: bold;
}

#footer-statement{
  font-size: 20px;
  font-weight: 300px;
  letter-spacing: 0px;
}

.social-media-list{
  padding: 15px 0 0px;
}

.social-media-list li {
    display: inline-block;
    /* margin-right: 1em; */
    font-size: 180%;
    padding: 0 5px;
}

.social-media-list li:last-child {
    display: inline-block;
    /* margin-right: 1em; */
    font-size: 180%;
    padding: 0 0;
}

.social-media-list li a {
    color: #fff;
    transition: color 0.5s;
}

.social-media-list li a:hover {
    color: #a8dae2;
    transition: color 200ms;
}
/* ////// about us page ////////*/

.about{
  width: 90vw;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  font-family: WalesSansHeadline,WalesSans,Helvetica Neue,Helvetica,Arial,sans-serif;arial, serif;
  background-color: #fff;
}

.about-section{
  font-size: 18px;
  color: #234250;
  line-height: 1.5;
}

.about-img{
  float:right;
  height: auto;
  width: 500px;
}

.about-courses-wrapper{
  margin-top: 60px;
  background-color: #234250;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: WalesSansHeadline,WalesSans,Helvetica Neue,Helvetica,Arial,sans-serif;arial, serif;
  color: #fff;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.about-item{
  padding: 20px 25px;
  border-bottom: 1px solid #a8dae2;
}

.about-item:last-child{
  border-bottom: none;
}

.about-header{
  font-size: 40px;
  text-transform: uppercase;
}

.about-feature-item{
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  padding: 5px 0;
}

.about-features{
  margin: 10px 0 15px;
}

.about-button{
  border: 1px solid white;
  border-radius: 10px;
  color: #234250;
  background-color: #a8dae2;
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 10px 0;
  transition: background-color 200ms ease-in-out;
}

.about-button:hover {
  background-color: #61aeba;
  /* #e1f1ff; */
}
/* ////// courses ////////*/
.courses-body{
  background-color: #a8dae2;
  /* #a8dae2; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  font-family: WalesSansHeadline,WalesSans,Helvetica Neue,Helvetica,Arial,sans-serif;arial, serif;
  box-sizing: border-box;
}

.panel{
  background-color: white;
  border-radius: 10px;
  padding: 5px 25px;
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}

.course{
  border-bottom: 1px solid #e1f1ff;
}

.course:last-child{
  border-bottom: none;
}

.course-img{
  /* margin-bottom: 25px; */
  max-width: 100%;
  width: 270px;
  height: 55px;
}

.course-header{
  color: #234250;
  font-weight: 800;
  font-size: 30px;
  letter-spacing: 1px;
  height: 55px;
}

.course-features{
  margin: 40px 0 25px;
  color: fff;
}

.course-feature-item{
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid #e1f1ff
}

.course-feature-item:last-child{
  border-bottom: 1px solid #e1f1ff
}

.course-button{
  border: 1px solid #a8dae2;
  border-radius: 10px;
  color: #fff;
  background-color: #234250;
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 25px 0;
  transition: background-color 200ms ease-in-out;
}

.course-button:hover {
  background-color: #a8dae2;
  /* #e1f1ff; */
}

@media (min-width: 900px){
  .panel{
    flex-direction: row;
  }

  .course{
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    padding: 25px 50px;
  }

  .course:last-child{
    border-right: none;
  }
}

/* ////// contact ////////*/

.contact-container{
  font-family: WalesSansHeadline,WalesSans,Helvetica Neue,Helvetica,Arial,sans-serif;arial, serif;
  /* max-width: 500px; */
  width: 100vw;
  height: 600px;
  margin: 0 auto;
  background-color: #a8dae2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.contact{
  background-color: #a8dae2;
  width: 100%;
  max-width: 700px;
  text-align: center;
}
.contact h3{
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 15px;
}

.contact h4{
  margin: 5px 0 20px;
  display: block;
  font-size: 16px;
  font-weight: 400;
}

.contact fieldset {
  border: medium none;
  margin: 0 0 15px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

.contact fieldset:last-child {
  margin: 0;
}

.contact input, .contact textarea{
  width: 100%;
  max-width: 500px;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 auto 5px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.contact textarea {
  height: 150px;
  width: 100%;
  max-width: 500px;
  resize: none;
  font-family: WalesSansHeadline,WalesSans,Helvetica Neue,Helvetica,Arial,sans-serif;arial, serif;
}

.contact button{
  cursor: pointer;
  width: 100%;
  max-width: 500px;
  border: 1px #ccc solid;
  background-color: #FFF;
  color: #234250;
  padding: 10px;
  font-size: 15px;
  transition: background-color 200ms ease-in-out;
  border-radius: 10px;
}

.contact button:hover {
  background-color: #E5E5E5;
}


/* ////// contact ////////*/

.approval-wrapper{
  background-color: #a8dae2;
  padding: 45px 0 30px;
  width: 100vw;
}

.approval-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #a8dae2;
  align-items: center;

}

@media (min-width: 950px){
  .approval-container{
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.approval-header{
  width:100%;
  display: inline-block;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  font-family: WalesSansHeadline,WalesSans,Helvetica Neue,Helvetica,Arial,sans-serif;arial, serif;
  color: #234250;
  padding: 0 0 15px;
  letter-spacing: 1px;
}

.approval-wrapper h4{
  width: 100%;
  text-align: center;
  font-family: WalesSansHeadline,WalesSans,Helvetica Neue,Helvetica,Arial,sans-serif;arial, serif;
  color: #234250;
  font-size: 20px;
  font-weight: 400;
  padding: 0 0 30px;
}

.approval-img-frame{
  display: flex;
  justify-content: center;
  height: 400px;
  padding: 0 10px 20px;
}

.approval-img{
  height: 400px;
  width:300px;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
